.grade-container {
  display: flex;
  align-items: start;
  height: 400px;
}

.carousel-container {
  background-color: #fe2929;
  height: 400px;
  display: flex;
  align-items: center;
}

.grade-image {
  width: 100%;
  height: 16em;
  object-fit: cover;
  height: 210px;
  width: 210px;
  border-radius: 50%;
}

.grade-text {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.grade-card {
  z-index: 10;
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.shop-now {
  padding-left: 80px;
}

.shop-now-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.shop-now-description {
  font-size: 14px;
  margin-bottom: 10px;
}

/*responsive*/
@media (max-width: 995px) {
  .carousel-container {
    height: 290px;
  }
  .shop-now {
    padding-left: 20px;
  }

  .grade-text {
    font-size: 17px;
  }
}
@media (max-width: 574px) {
  .carousel-container {
    height: 290px;
  }
  .grade-image {
    height: 150px;
    width: 150px;
  }

  .grade-text {
    font-size: 17px;
  }

  .shop-now {
    padding-left: 20px;
  }
}
